body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
/* brand heading */

#page-path {
  margin-left: 175px;
  font-size: 12px;
  margin-bottom: 40px;
}

.brand_container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  color: #333333;
}
.brand_container > h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 24px;
}
.brand_image {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}

/* ------links a to z------- */
.links {
  width: 70%;
  padding: 2px;
  margin-top: 40px;
}

.links a {
  text-decoration: none;
  padding: 8px;
  color: #333333;
}
.links a:hover {
  background-color: grey;
}
/* brand nav images */
.brand_nav {
  display: flex;
  width: 100%;
  height: 330px;
  margin-top: 20px;
  background-color: #f7f7f7;
}

.brand_nav div {
  /* width: 15%; */
  height: 230px;
  margin: 18px;
  margin-top: 50px;
  /* background-color: red; */
  /* border: 1px solid blue; */
}

/* .brand_nav div:nth-child(1) {
  margin-right: 100px;
} */

#first-brand-div {
  display: flex;
  width: 90%;
  /* margin-top: -20px;
  margin-left: 0; */
  margin: -15px 0 7px;
  /* padding: 0 0 15px; */
  height: 100px;
  /* border: 1px solid yellow; */
}
#first-brand-div-links {
  display: flex;
  width: 100%;
  margin: 0 5px;
  margin-right: 10px;
  margin-top: 25px;
  height: 130px;
}

table td > a {
  width: 100%;
  font-size: 16px;
  margin: 15px;
  margin-left: -6px;
  color: #333333;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
}

table td > a:hover {
  color: black;
  font-weight: bold;
}
.brand_nav img {
  width: 200px;
}

/* sections a to z */
.has {
  display: flex;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.has > h2 {
  padding: 6px 15px;
  background-color: #cac8c8;
}
.hr {
  padding: 0;
  width: 77%;
  margin-left: 20px;
  border: none;
  margin-top: 10px;
  border-top: 1px solid rgb(231, 229, 229);
}
.section1 {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* #section-has > div:nth-child(2) {
  margin-left: 200px;
} */
#section-has > div:nth-child(3) {
  margin-left: 150px;
}
/* .section1 > div:nth-child(1) {
  margin-left: 200px;
} */
.section1 > div:nth-child(2) {
  margin-left: 100px;
}
.section1 > div:nth-child(3) {
  margin-left: 100px;
}
.section2 > div:nth-child(4) {
  margin-left: 100px;
}
.section1 > div > a {
  display: block;
  text-decoration: none;
  color: #333333;
  line-height: 1.2;
  white-space: nowrap;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
}
.section1 > div > a:hover {
  color: black;
  font-weight: 600;
}
