body {
  margin: 0;
}
button {
  cursor: pointer !important;
}
/* a link */
#content-product-cream-h4 {
  width: 67%;
  max-width: 1000px;
  margin: 3% auto;
}
#content-product-cream-h4 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
#content-product-cream-h4 a:hover {
  text-decoration: underline;
  color: rgb(78, 78, 190);
}
#content-product-cream-h4 h4 {
  font-weight: 200;
}

#header-shopping {
  width: 67%;
  max-width: 1000px;
  margin: auto;
}
#header-shopping h2 {
  font-size: 32px;
  font-weight: 400;
}
#header-shopping button {
  background-color: rgb(179, 174, 174);
  color: rgb(0, 0, 0);
  padding: 1% 5%;
}
#header-shopping button:nth-child(3) {
  margin-left: 41%;
  font-size: 17px;
  background-color: rgb(22, 19, 19);
  color: white;
}
#header-shopping button:nth-child(2) {
  background-color: rgb(167, 167, 167);
  border-color: grey;
  color: black;
}

#shopping-table {
  width: 70%;
  max-width: 1000px;
  margin: 3% auto;
  border: 1px solid black;
  min-height: 205px;
  max-height: 405px;
  overflow: auto;
}
#table-head {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: 500;
  font-size: 20px;
  max-width: 990px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
#cart-img {
  width: 13%;
  margin: 1% 1.5%;
}
#cart-items {
  width: 30%;
  margin: 1%;
}
#cart-qty {
  width: 12%;
  margin: 1% 1.5%;
}
#cart-price {
  width: 15%;
  margin: 1%;
}
#cart-total {
  width: 18%;
  margin: 1%;
}

#messageBox {
  width: 68%;
  max-width: 1000px;
  margin: auto;
  background-color: black;
  height: 140px;
  color: white;
}
#messageBox p:nth-child(1) {
  padding-top: 30px;
}
#messageBox p {
  font-size: 16px;
  text-align: center;
  margin: 2% 5%;
}
#finalDetail {
  width: 68%;
  max-width: 1000px;
  margin: 3% auto;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
#left-detail {
  float: left;
  margin: 3%;
  padding: 1%;
  width: 450px;
}
#right-detail {
  float: right;
  margin: 3%;
  padding: 1%;
}
#right-detail p {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}
#right-detail h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: right;
}
#left-detail p {
  font-size: 15px;
  font-weight: 600;
  padding: 0.5%;
}
#left-detail label {
  font-size: 18px;
  font-weight: 600;
  margin-right: 1%;
  padding: 1%;
}
#left-detail button {
  background-color: black;
  color: white;
  padding: 6px;
  margin: 1px;
  cursor: pointer;
}
#left-detail input {
  padding: 5px;
  margin: 2px;
}
#right-detail button {
  background-color: black;
  color: white;
  padding: 4%;
  margin: 1px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
}
