body {
  margin: 0;
  font-family: "Helvetica Neue", serif, Helvetica, Arial, sans-serif;
}
/*
a {
  text-decoration: none;
}
* {
  font-size: 16px;
  color: rgb(32, 31, 31);
  background-color: white;
} */

/* login */
#login-content {
  /* width: 70%; */
  max-width: 1020px;
  height: auto;
  margin: auto;
}
#login-a-h4 {
  font-weight: 400;
}
#login-a-h4 a {
  text-decoration: none;
  color: black;
}
#login-a-h4 a:hover {
  text-decoration: none;
  color: blue;
}
#login-content-h3 {
  font-size: 23px;
}
#login-main {
  /* width: 70%; */
  max-width: 1050px;
  height: 600px;
  margin: auto;
  display: flex;
}
#login-module {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
}
#hr-module {
  width: 1px;
  height: 400px;
  background-color: black;
}
#signup-module {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin-left: 2%;
  height: 600px;
}

/* login module */
#login-module p {
  margin-left: 2%;
  font-size: 17px;
}
#login-module h3 {
  margin-left: 2%;
  font-size: 22px;
  margin-bottom: 0;
}
#login-module input {
  width: 90%;
  height: 30px;
  font-size: 17px;
  margin: 2% 3%;
  padding: 1% 1%;
}
#login-module label {
  font-size: 20px;
  font-weight: 500;
  margin: 1% 3%;
}
#login-module a {
  margin: 1% 3%;
  color: blue;
  text-decoration: none;
  font-size: 16px;
}
#login-module a:hover {
  color: black;
  text-decoration: underline;
}
#login-button {
  padding: 1.5% 8%;
  font-size: 20px;
  background-color: rgb(8, 8, 32);
  color: white;
  margin: 3% 3%;
}

/* signup module */
#signup-module p {
  margin-left: 2%;
  font-size: 17px;
}
#signup-module h3 {
  margin-left: 2%;
  font-size: 22px;
  margin-bottom: 0;
}
#signup-module #signup-email {
  width: 90%;
  height: 30px;
  font-size: 17px;
  margin: 2% 3%;
  padding: 1% 1%;
}
#signup-module #signup-password {
  width: 90%;
  height: 30px;
  font-size: 17px;
  margin: 2% 3%;
  padding: 1% 1%;
}
#signup-module label:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  margin: 1% 3%;
}
#signup-module label:nth-child(3) {
  font-size: 20px;
  font-weight: 500;
  margin: 1% 3%;
}
#signup-module a {
  margin: 1% 3%;
  color: blue;
  text-decoration: none;
  font-size: 16px;
}
#signup-module a:hover {
  color: black;
  text-decoration: underline;
}
#signup-button {
  padding: 1.5% 12%;
  font-size: 20px;
  background-color: rgb(8, 8, 32);
  color: white;
  margin: 3% 3%;
}
#signup-module #signup-check1,
#signup-check2 {
  font-size: 14px;
  margin: 4% 3% 2% 3%;
}
#signup-module small {
  font-size: 15px;
  margin: 0 1% 3% 3%;
}


.forget{
  padding: 30px 20px;
  position: fixed;
  left: 16%;
  top: 27%;
  background-color: white;
  min-width: 400px;
  border: 1px solid black;
  box-shadow: 2px 2px 55px black;
  opacity: 1;
  transition: all 300ms ease-in-out;
  z-index: 5;
}
.hide{
  z-index: -1;
  opacity: 0;
}

.forget *{
  margin: 10px;
}
.forget h1{
  margin-left: 20px;
  margin-bottom: 50px;
  
}
.forget input{
  margin: 10px;
  padding: 10px 20px;
  min-width: 300px;
}
#reset-button{
  padding: 1.5% 12%;
  font-size: 20px;
  background-color: rgb(8, 8, 32);
  color: white;
  margin: 3% 3%;
}