body{
    margin: 0;
    font-family: "Helvetica Neue", serif, Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
}

.banner_box{
    background-image: url("https://media.dermstore.com/images/homepage/beauty-refresh-hp-banner-03-21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    width: 1000px;
    margin: 50px auto;
}
.banner >*{
    color: white;
    font-family: apercu,sans-serif;
    font-size: 12px;
}
.banner{
    width: 35%;
    padding:0 50px;
}
.banner>h3{
    font-size: 20px;
    margin-bottom: 0;
}
.banner>h1{
    font-size: 45px;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
.banner>p{
    font-size: 18px;
}
.banner a{
    color: white;
    text-decoration: underline;
}
.banner>button{
    font-size: 18px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border : none;
    margin-bottom: 20px;
}
.shop_beauty{
    margin-top: 50px;
    margin-bottom: 50x;
}
.boxes>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    width: 200px;
    min-height: 50px;
    text-align: center;
    margin: 10px;
}
.boxes>div>a{
    color: black;
    font-size: 16px;
    font-family: apercu;
    font-weight: bold;
}
.boxes{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.shop{
    width: 1000px;
    margin: 50px auto;
    position: relative;
    border-top: 1px solid rgba(0, 128, 128, 0.753);
}
.shop_head{
    text-align: center;
}
.shop_head>h1{
    width: fit-content;
    position: absolute;
    top: -35px;
    left: 35%;
    text-align: center;
    background-color: white;
}

.trending{
   background-image: url("https://media.dermstore.com/images/homepage/product-carousel-neocutis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.trending_details>*{
    color: black;
    margin: 2px;
    padding-left: 50px;
}
.trending_details>a{
    margin-left: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.trending_details>h1{
font-size: 30px;
font-weight: normal;
}
.bio{
    margin-top: 30px;
 height: fit-content;
    display: flex;
    align-items: center;
}
.bio_product{
    text-align: center;
}
.boi_disp{
    font-size: 18px;
}
.boi_scroll{
    flex-grow: 1;
    display: flex;
    overflow: auto;
    height: 100%;
}
.product{
    width: 200px;
    height: 100%;
    text-align: left;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.product:hover{
    text-decoration: underline;
}
.arrow{
    font-size: 50px;
    height: 100%;
}
.product>img{
    width: 150px;
}
.discription{
    
}