/* <!-- --------------header part------------- --> */
.header_top {
  background-color: #222;
  width: 100%;
  height: 50px;
  display: flex;
  transition: all 600ms ease-in-out;
  z-index: 10;
}
.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex_box_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers_msg {
  display: flex;
  align-items: center;
  color: white;
}
.reverse {
  transform: scaleX(-1);
}
.button_nav {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
}
.msg {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 50px;
  color: white;
}
.msg > span {
  text-decoration: underline;
  font-size: 14px;
}
.bar {
  color: white;
  margin: auto 5px;
  font-size: 20px;
}
.login_signup > a {
  color: white;
}
.login_signup strong {
  text-decoration: underline;
}
.down {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: auto 5px;
}
.header_nav {
  padding: 30px 0 20px 0;
  background-color: white;
}
#logo {
  width: 200px;
}
.search img {
  width: 15px;
  padding: 0 5px;
}
.flex_box {
  display: flex;
  align-items: center;
}
.cart img {
  width: 25px;
}
.search {
  border: 1px solid teal;
}
#search_box {
  padding: 5px 12px;
  min-width: 300px;
  border: none;
}
.search_btn {
  padding: 6px;
  border: none;
  background-color: white;
}
.cart {
  margin: auto 10px;
}
#cart_item {
  font-size: 12px;
  color: teal;
}
.menu {
  font-size: 15px;
  font-weight: 600;
  padding-top: 30px;
}
.menu > a {
  color: black;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.bottom_line {
  box-shadow: 0 9px 1px -8px black;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}
/* <!-- --------------header part------------- --> */
